@import "fonts";
@import "header";
@import "footer";
@import "projects";
@import "profile";

body {
  background-color: #222b33;
  color: #f1f2f2;
  font-family: "Montserrat Regular", sans-serif;
}

main {
  height: calc(100vh - 52px - 32px);
}

.hidden {
  display: none;
}
