@use 'reset';
@use 'vars';
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('../assets/fonts/Montserrat-Light.ttf');
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #222b33;
  color: #f1f2f2;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  font-size: 1em;

}

*::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2em;
  }
}


