.author {
  width: 90vw;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: rgba(81, 23, 48, 0.35) 0px 5px 15px;
  }
  & p{
    text-align: center;
    margin-top: 1em;
    font-family: "Karla", sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
  }
  & button {
    background: #511730;
    color: #FFFCF2;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem;
  }
}

@media screen and (min-width: 768px) {
.author{
  width: 75vw;
  margin-top: 4em;
}
}

@media screen and (min-width: 1024px) {
  .author{
    width: 20vw;
    margin-top: 1em;
  }
}
