.xp {
  margin-top: 2em;
  padding-bottom: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h3 {
    font-size: 1em;
    text-transform: uppercase;
  }
  &__item {
    margin-top: 1em;
    width: 90vw;
    & h4 {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-bottom: 0.75em;

    }
    & h5 {
      font-family: "Montserrat Light", sans-serif;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
    & p {
      font-family: "Montserrat Light", sans-serif;
      font-size: 0.9em;
      line-height: 1.2em;
    }
  }
  &__item::after{
    content: "";
    display: block;
    margin-left: calc(50% - 100px);
    width: 200px;
    height: 1px;
    background-color: #f1f2f2;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  &__item:last-child::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
.xp {
  order: -1;
  width: 40vw;
  margin-top: 0;
  &__item {
    width: 40vw;
    text-align: center;
    & p {

      width: 40vw;
    }
  }
}
}

@media screen and (min-width: 1024px) {
  .xp {
    width: 25vw;
    padding-bottom: 2em;
    margin: 0 3em;
    &__item {
      width: 25vw;
      text-align: center;
      & p {
        width: 25vw;
      }
    }
  }
}

