.gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 90vw;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards img {
  padding: 0;
  margin: 0;
  width: 90vw;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
  box-shadow: rgba(81, 23, 48, 0.35) 0px 5px 15px;
}

.drag-proxy {
  visibility: hidden;
  position: absolute;
}

.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    background-color: rgba(255,252,242,1);
    z-index: 800;
    width: 100vw;
    text-align: center;
    padding-top: 10vh;
    & h3 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1em;
    }
    & p {
      font-family: "Karla", sans-serif;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }
  &__infos {
    z-index: 800;
    width: 100vw;
    text-align: center;
    margin-top: 55vh;
    background-color: rgba(224,214,138,1);
    & p {
      padding: 0 5vw;
      margin-bottom: 1.5em;
      font-family: "Rubil", sans-serif;
      font-size: 0.9em;
    }
    & a {
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
    }
  }
}

#visitLink {
  text-align: center;
  padding: 0;
  width: 80px;
margin-right: auto;
  margin-left: auto;
  margin-bottom: 5em;
}

@media screen and (min-width: 375px) {
  .show__infos {
    margin-top: 57.5vh;
    & p {
      padding-top: 1em;
    }
  }
}

@media screen and (min-width: 425px) {

}

@media screen and (min-width: 768px) {
  .cards {
    width: 70vw;
    top: 30%;
  }
  .cards img {
    width: 70vw;
  }
  .show__title {
    background-color: transparent;
  }
  .show__infos {
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    width: 55vw;
    top: 27.5%;
  }
  .cards img {
    width: 55vw;
  }
  .show__infos {
    margin-top: 52.5vh;
  }
}

@media screen and (min-width: 1440px) {
  .cards {
    top: 25%;
    width: 40vw;
    & img {
      width: 40vw;
    }
  }
  .show__infos {
    margin-top: 52.5vh;
  }
}
