.show {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    z-index: 800;
    width: 100vw;
    text-align: center;
    margin-top: 10vh;
    & h3 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1em;
    }
    & p {
      font-family: "Karla", sans-serif;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }
  &__infos {
    z-index: 800;
    width: 100vw;
    text-align: center;
    margin-top: 55vh;
    & p {
      padding: 0 5vw;
      margin-bottom: 1.5em;
      font-family: "Rubil", sans-serif;
      font-size: 0.9em;
    }
    & a {
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
    }
  }
}

#visitLink {
  text-align: center;
  padding: 0;
  width: 80px;
margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 375px) {
  .show__infos {

    & p {

    }
  }
}

@media screen and (min-width: 425px) {
  .show__infos {

    & p {

    }
  }
}

@media screen and (min-width: 768px) {
  .show__title {

    & p {

    }
  }
  .show__infos {

    & p {

    }
  }
}

@media screen and (min-width: 1024px) {
  .show__title {

  }
}

@media screen and (min-width: 1440px) {
  .show__title {


  }
  .show__infos {

    & p {

    }
  }
}
