footer {
  z-index: 800;
  background-color: rgba(224,214,138,1);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  width: 100vw;
   & ul {
     display: flex;
     justify-content: space-around;
     & li {
       & a {
         text-transform: uppercase;
         font-size: 0.8em;
         font-family: "Rubik", sans-serif;
       }
     }
   }
}

@media screen and (min-width: 768px) {
  footer {
    background-color: transparent;
    margin: 0.75em;
    width: auto;
    & ul {
      display: block;
      & li {
        margin-bottom: 0.25em;
      }
      & li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
 footer {
   margin: 1em 1.5em;
 }
}
